# .env.example — Video Status MS
SERVER_PORT=8085
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5434/video_status_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_PROFILES_ACTIVE=local

NEW_RELIC_LICENSE_KEY=sua_license_key_aqui
